/*Обнуление*/
*,
p {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  margin: 0;
}

/*  */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.wrapper {
  max-width: 1236px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #ffff;
  padding-bottom: 10px;
  background-position: center;
}

.input-container {
  display: flex;
  min-height: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-container input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  font-size: 10pt;
}
.btn-small {
  height: 20px;
  width: 80px;
  border: none;
  background-color: #0a66c2;
  border-radius: 5px;
  color: #ffff;
  letter-spacing: 1px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  touch-action: manipulation;
}

.main-title {
  padding-top: 20px;
  color: #ffff;
  padding-bottom: 20px;
  font-size: 20pt;
  font-weight: 600;
}

.select-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.select-container select {
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.counter-contatainer {
  font-size: 10pt;
  text-align: center;
  padding-bottom: 10px;
}

.search-result {
  color: red;
}

/* books found section */

.books-results {
  padding-top: 10px;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5px;
}

.book-card {
  padding-top: 10px;
  min-height: 300px;
  width: 200px;
  border: 1px solid #525252;
  box-shadow: 5px 5px 5px #b6b4b8;
  background-color: #ebe6e6;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-img {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 5px;
}

.item-info-cat {
  color: #757779;
  font-weight: 100;
  font-size: 10pt;
  text-decoration: underline;
  padding-bottom: 5px;
}

.item-title {
  color: black;
  font-weight: 600;
  padding-bottom: 5px;
}

.item-description {
  color: black;
  font-weight: 400;
  padding-bottom: 5px;
}

.book-info-container .item-description {
  padding: 10px;
  border: 1px solid grey;
}

.no-search-result {
  padding-top: 5px;
  max-width: 200px;
  margin: 0 auto;
}

.button-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.book-info-container {
  display: flex;
  width: 100%;
}

.book-img {
  flex: 0 0 30%;
  padding: 30px;
  background-color: #ebe6e6;
  text-align: center;
}

.book-img img {
  width: 100%;
}

.book-information {
  padding: 30px;
}

/*  spinner*/
html {
  height: 100%;
}

.spinner-container {
  background-image: radial-gradient(
    circle farthest-corner at center,
    #3c4b57 0%,
    #1c262b 100%
  );
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #152f70;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #1c262b;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
